body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(139, 174, 248);
    margin: 0;
}
.calculator {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    border-radius: 40px;
    padding: 25px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    color: #fff;
    align-items: center;
}    
.display {
    font-size: 2em;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #fffcfc;
    border-radius: 5px;
    background-color:transparent;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #2282e2a2;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #1cb7cc;
}
