body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
    margin: 0;
}

.calculator {
    max-width: 400px;
    width: 100%;
    margin: 50px auto;
    border-radius: 40px;
    padding: 25px;
    background: rgb(161, 161, 161);
    color: #fff;
   
    
    
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #f8f7f7;
    border-radius: 5px;
    background-color:transparent;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #2282e2a2;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
